*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

main{
  width: 80%;
  margin: auto;
}

h1{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 15px;
  color: #3C4043;
}

div{
  padding: 25px 0px;
}

h2{
  padding-bottom: 15px;
  letter-spacing: 1px;
  color: #3C4043;
}

p{
  font-weight: 400;
  line-height: 25px;
}